<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Turbulence4J</title>
    <link rel="stylesheet" type="text/css" href="css/screen.css" />
	<script type="text/javascript" language="javascript" src="js/jquery-1.5.1.min.js"></script>
    <script type="text/javascript" language="javascript" src="js/ibp-data.js"></script>
    <script type="text/javascript" language="javascript" src="js/highcharts.js"></script>
    <script type="text/javascript" language="javascript" src="js/exporting.js"></script>
    <script>

var chart;    
$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'container',
         defaultSeriesType: 'bar'
      },
      colors: ['green', 'red'],
      title: {
         text: 'PPR and Excess Cost By Package (' + range + ')'
      },
      xAxis: {
         categories: packages
      },
      yAxis: {
         min: 0,
         title: {
            text: 'Count'
         }
      },
      tooltip: {
         formatter: function() {
            return ''+
               this.x +': '+ this.y;
         }
      },
      plotOptions: {
         column: {
            pointPadding: 0.2,
            borderWidth: 0
         }
      },
      series: [ {name: 'changes', data: changes },
                {name: 'defects', data: defects }]
   });
});
    </script>    
  </head>

  <body>
    <div id="menu">
    	<a href="t4j-ibp.html">Total Issues by Package</a>
    </div>
	<div id="container" style="width: 100%; height: 800px"></div>
  </body>
</html>