<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Turbulence4J</title>
    <link rel="stylesheet" type="text/css" href="css/screen.css" />
	<script type="text/javascript" language="javascript" src="js/jquery-1.5.1.min.js"></script>
    <script type="text/javascript" language="javascript" src="js/cc-data.js"></script>
    <script type="text/javascript" language="javascript" src="js/highcharts.js"></script>
    <script>
$(document).ready(function() {
   var chart = new Highcharts.Chart({
      chart: {
         renderTo: 'container',
         defaultSeriesType: 'scatter',
         zoomType: 'xy'
      },
      title: {
         text: 'Churn vs Complexity'
      },
      xAxis: {
         title: {
            enabled: true,
            text: 'Churn'
         },
         startOnTick: false,
         endOnTick: false,
         labels: {enabled:true},
         lineWidth: 0,
         tickWidth: 0
      },
      yAxis: {
         title: {
            text: 'Complexity'
          },
         startOnTick: false,
         endOnTick: false,
         labels: {enabled:true}
      },
      tooltip: {
        formatter: function() {
          var item = this.point;
          return item.filename + "<br/>" + "churn: " + item.x + "<br/>" + "complexity: " + item.y;
        }
      },

      plotOptions: {
         scatter: {
            marker: {
               radius: 5,
               states: {
                  hover: {
                     enabled: true,
                     lineColor: 'rgb(100,100,100)'
                  }
               }
            },
            states: {
               hover: {
                  marker: {
                     enabled: false
                  }
               }
            }
         }
      }
   });

   $.each(directorySeries, function(directory) {
     chart.addSeries({
      name: directory,
      type: 'scatter',
      visible: true,
      data: directorySeries[directory]
     });
   });
});

    </script>    
  </head>

  <body>
    <div id="menu">
    	<a href="t4j-cc.html">Churn vs Complexity</a>
    	<a href="t4j-ca.html">Churn by Author</a>
    	<a href="t4j-c2a.html">Complexity by Author</a>
    </div>
	<div id="container" style="width: 100%; height: 400px"></div>
  </body>
</html>