<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Turbulence4J</title>
    <link rel="stylesheet" type="text/css" href="css/screen.css" />
	<script type="text/javascript" language="javascript" src="js/jquery-1.5.1.min.js"></script>
    <script type="text/javascript" language="javascript" src="js/cot-data.js"></script>
    <script type="text/javascript" language="javascript" src="js/highcharts.js"></script>
    <script type="text/javascript" language="javascript" src="js/exporting.js"></script>
    <script>

var chart;    
$(document).ready(function() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'container',
         defaultSeriesType: 'spline'
      },
      title: {
         text: 'Complexity and NCSS over time (' + range + ')'
      },
      xAxis: {
         type: 'datetime'
	  },
      yAxis: [ { title: { text: 'Complexity' } },
      		   { title: { text: 'Ncss' }, opposite: true }
             ],
      tooltip: {
         formatter: function() {
            return '' +
               new Date(this.x).toLocaleString() +': '+ this.y;
         }
      },
      plotOptions: {
         column: {
            pointPadding: 0.2,
            borderWidth: 0
         }
      },
      series: [ {name: 'complexity', data: complexities, yAxis: 0 },
      			{name: 'ncss', data: ncss, yAxis: 1 }
      		  ]
   });
});
    </script>    
  </head>

  <body>
    <div id="menu">
    	<a href="t4j-cc.html">Churn vs Complexity</a>
    	<a href="t4j-ca.html">Churn by Author</a>
    	<a href="t4j-c2a.html">Complexity by Author</a>
    	<a href="t4j-c2cr.html">Complexity to Churn Ratio</a>
    </div>
	<div id="container" style="width: 100%; height:600px"></div>
  </body>
</html>
